.md h1 {
    font-size: 2rem;
}

.md h2 {
    font-size: 1.8rem;
}

.md h3 {
    font-size: 1.5rem;
}

.md h4 {
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.md h5 {
    font-size: 1rem;
}

.md h6 {
    font-size: 1rem;
}

.md p {
    font-size: 1rem;
}

.md blockquote {
    margin: 0.5rem;
    padding-left: 1rem;
    border-left: 5px solid rgb(0, 0, 0, 0.7);
}

.md code {
    color: whitesmoke;
    background: rgb(0, 0, 0, 0.7);
    padding-left: 4px;
    padding-right: 4px;
    font-style: italic;
}

.md pre {
    background: rgb(0, 0, 0, 0.7);
    padding: 1.5rem;
}

.md pre code {
    background: none;
}

.md img {
    width: 80%;
    padding: 2em;
}