#full-page {
    height: 100%;
}

#grid {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 3rem;
    padding: 3rem;
}

.slabo-font {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.ultra-font {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#inner-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    align-items:stretch;
    justify-items: stretch;
    padding: 1rem;
    min-width: 0;
    width: 100%;
    justify-content: space-evenly;
    /* border: 1px solid magenta; */
}

.bento-compartment {
    /* border-radius: 2rem;
    background: rgb(71, 19, 150); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid black;
}

#intro {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    display: flex;
}

#intro:hover {
    transition: ease 0.2s;
}

#widgets {
    grid-column: 5 / span 5;
    grid-row: 1 / span 4;
    display: flex;
}

#widgets:hover {
    transition: ease 0.2s;
}

#projects {
    grid-column: 10 / span 7;
    grid-row: 1 / span 9;
    display: flex;
}

#tech {
    grid-column: 1 / span 9;
    grid-row: 5 / span 1;
    display: flex;
}

#tech:hover {
    transition: ease 0.2s;
}

#edu {
    grid-column: 1 / span 5;
    grid-row: 6 / span 4;
    display: flex;
}

#edu:hover {
    transition: ease 0.2s;
}

#switch {
    grid-column: 6 / span 4;
    grid-row: 6 / span 4;
    display: flex;
}

#switch:hover {
    transition: ease 0.2s;
}

.name {
    font-size: 3rem;
}

.designation {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.button {
    height: 3rem;
    padding: 0 2rem;
    /* border-radius: 1rem; */
    border: 1px solid black;
    background: white;
    background-size: 400%;
    cursor: pointer;
}

.button-content {
    font-size: 1rem;
    z-index: 1;
}


.button:hover {
    border: 2px solid black;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

#inner-container.tech-container {
    padding: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#marquee {
    overflow: hidden;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

#tech-stack {
    display: inline-flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: nowrap;
    animation: marquee 20s linear infinite;
}

.header {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.pages-random {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0.5 rem;
}

.controls {
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    background: white;
    border: 1px solid black;
    /* border-radius: 50%; */
    /* background: rgb(227, 116, 52); */
}

.controls:hover {
    border: 2px solid black;
}

.contents-page {
    height: 100%;
    position: relative;
}

.page {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page.active {
    opacity: 1;
    z-index: 1;
}

.random-canvas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#coin-flip {
    /* border-radius: 1rem; */
    border: 1px solid black;
    margin-top: 1rem;
    height: 100%;
}

/* Widgets */

#widgets-frame {
    display: grid;

    height: 100%;
    box-sizing: border-box;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

#time-widget {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    /* border-radius: 2rem; */
    border: 1px solid black;
    /* background: rgb(227, 116, 52); */

    padding: 1rem;
    flex-direction: column;
}

#current-time {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    padding: 0.5rem;
}

#clock {
    display: flex;
}

#time-diff {
    font-size: 1.5rem;
}

#date-current {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-decoration: overline;
}


#thought-widget {
    display: flex;
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;

    /* border-radius: 2rem; */
    border: 1px solid black;
    /* background: rgb(177, 59, 255); */

    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    align-items: center;
    justify-content: center;
}

#location-widget {
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-evenly;

    /* border-radius: 2rem;
    background: rgb(227, 116, 52); */
    border: 1px solid black;
}

.location-city {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    border-radius: 0.3rem;
}

.location-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-coord {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}

.sphere {
    width: 6rem;
}


#weather-widget {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    /* border-radius: 2rem;
    background: rgb(227, 116, 52); */
    border: 1px solid black;
}

#temperature {
    display: flex;
    flex-direction: row;
    width: 40%;
    
    justify-content: space-evenly;
    border-right: 1px solid black;
    padding: 0.2rem;
}

#current-temp {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
}

#min-max-temp {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

#sun-track {
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    width: 35%;
    justify-content: space-evenly;
}

#sun-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
}

#sun-track-data {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

#uv-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    font-size: 1.2rem;
    padding: 0.5rem;
}



#title-widget {
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;

    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

#meta-widget {
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;
    
    /* border-radius: 2rem;
    background: rgb(227, 116, 52); */
    border: 1px solid black;
    
    padding: 1rem;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.session-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.2rem;
}

#edu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
}

#course-college-year-cgpa {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

#course-college {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

#cgpa {
    padding: 0.8rem;
    border: 1px solid black;
    /* border-radius: 1rem; */
    /* background: rgb(227, 116, 52); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graduate-year {
    /* border-radius: 1rem; */
    padding: 0.8rem;
    /* background: rgb(227, 116, 52); */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#courses {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#course {
    padding: 0.5rem;
    /* border-radius: 2rem; */
    /* background: rgb(227, 116, 52); */
    border: 1px solid black;
    width: max-content;
    font-size: 0.8rem;
}

#achievements {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.work-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.works-page {
    position: relative;
    flex: 1;
}

.large-page {
    overflow: auto;
}