#full-page {
    height: 100%;
}

#grid {
    display: grid;
    height: 100dvh;
    box-sizing: border-box;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: clamp(1.5rem, 3dvh, 3rem);
    padding: clamp(1.5rem, 3dvw, 3rem);
}

.slabo-font {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: clamp(0.5rem, 1dvw, 1rem);
}

.ultra-font {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: clamp(0.5rem, 1dvw, 1rem);
}

#inner-container {
    display: flex;
    flex-direction: column;
    margin: clamp(0.75rem, 1.5dvh, 1.5rem);
    align-items: stretch;
    justify-items: stretch;
    padding: clamp(0.5rem, 1dvh, 1rem);
    min-width: 0;
    width: 100%;
    justify-content: space-evenly;
}

.bento-compartment {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid black;
}

#intro {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    display: flex;
}

#widgets {
    grid-column: 5 / span 5;
    grid-row: 1 / span 4;
    display: flex;
}

#projects {
    grid-column: 10 / span 7;
    grid-row: 1 / span 9;
    display: flex;
}

#tech {
    grid-column: 1 / span 9;
    grid-row: 5 / span 1;
    display: flex;
}

#edu {
    grid-column: 1 / span 5;
    grid-row: 6 / span 4;
    display: flex;
}

#switch {
    grid-column: 6 / span 4;
    grid-row: 6 / span 4;
    display: flex;
}

.name {
    font-size: clamp(1.5rem, 3dvw, 3rem);
}

.designation {
    font-size: clamp(1rem, 2dvw, 2rem);
    display: flex;
    flex-direction: column;
}

.button {
    height: clamp(1.5rem, 3dvh, 3rem);
    padding: 0 clamp(1rem, 2dvw, 2rem);
    border: 1px solid black;
    background: white;
    background-size: 400%;
    cursor: pointer;
}

.button-content {
    font-size: clamp(0.6rem, 1dvw, 1rem);
    z-index: 1;
}


.button:hover {
    border: 2px solid black;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: clamp(1rem, 2dvw, 2rem);
}

#inner-container.tech-container {
    padding: 0;
    margin-top: 1dvh;
    margin-bottom: 1dvh;
}

#marquee {
    overflow: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#tech-stack {
    display: inline-flex;
    gap: clamp(0.75rem, 1.5dvw, 1.5rem);
    padding: clamp(0.5rem 1dvh, 1rem);
    flex-wrap: nowrap;
    animation: marquee 20s linear infinite;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.25rem, 0.5dvh, 0.5rem);
}

.pages-random {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: clamp(0.25rem, 0.5dvh, 0.5rem);
}

.controls {
    height: clamp(1.5rem, 2dvh, 2rem);
    width: clamp(1.5rem, 2dvw, 2rem);
    border: none;
    cursor: pointer;
    background: white;
    border: 1px solid black;
}

.controls:hover {
    border: 2px solid black;
}

.contents-page {
    height: 100%;
    position: relative;
}

.page {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page.active {
    opacity: 1;
    z-index: 1;
}

.random-canvas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#coin-flip {
    border: 1px solid black;
    margin-top: clamp(0.5rem, 1dvh, 1rem);
    height: 100%;
}

/* Widgets */

#widgets-frame {
    display: grid;
    height: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: clamp(0.5rem, 1dvh, 1rem);
}

#time-widget {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    border: 1px solid black;

    padding: clamp(0.5rem, 1dvh, 1rem);
    flex-direction: column;
}

#current-time {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;

    font-size: clamp(1.25rem, 2.5dvw, 2.5rem);
    padding: clamp(0.25rem, 0.5dvh, 0.5rem);
}

#clock {
    display: flex;
}

#time-diff {
    font-size: clamp(0.75rem, 1.5dvw, 1.5rem);
}

#date-current {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: clamp(0.75rem, 1.5dvw, 1.5rem);
    letter-spacing: 0.1rem;
    text-decoration: overline;
}


#thought-widget {
    display: flex;
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;

    border: 1px solid black;

    font-size: clamp(0.75rem, 1.5dvw, 1.5rem);
    letter-spacing: clamp(0.1rem, 0.2dvw, 0.2rem);
    align-items: center;
    justify-content: center;
}

#location-widget {
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    flex-direction: column;
    align-items: center;
    padding: clamp(0.25rem, 0.5dvw, 0.5rem);
    justify-content: space-evenly;

    border: 1px solid black;
}

.location-city {
    font-size: clamp(0.6rem, 1.2dvw, 1.2rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(0.25rem, 0.5dvh, 0.5rem);
    border-radius: 0.3rem;
}

.location-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-coord {
    font-size: clamp(0.55rem, 1.1dvw, 1.1rem);
    display: flex;
    flex-direction: column;
}

.sphere {
    width: clamp(4rem, 6dvw, 6rem);
}


#weather-widget {
    display: flex;
    flex-direction: row;
    padding: clamp(0.25rem, 0.5dvw, 0.5rem);
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    border: 1px solid black;
}

#temperature {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    border-right: 1px solid black;
    padding: clamp(0.1rem, 0.2dvw, 0.2rem);
}

#current-temp {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: clamp(0.75rem, 1.5dvw, 1.5rem);
}

#min-max-temp {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

#sun-track {
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    width: 35%;
    justify-content: space-evenly;
}

#sun-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: clamp(0.4rem, 0.8dvw, 0.8rem);
}

#sun-track-data {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    font-size: clamp(0.65rem, 1.3dvw, 1.3rem);
}

#uv-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    font-size: clamp(0.6rem, 1.2dvw, 1.2rem);
    padding: clamp(0.25rem, 0.5dvw, 0.5rem);
}



#title-widget {
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;

    font-size: clamp(0.75rem, 1.5dvw, 1.5rem);
    justify-content: center;
    align-items: center;
}

#meta-widget {
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;

    border: 1px solid black;

    padding: clamp(0.5rem, 1dvw, 1rem);
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.session-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: clamp(0.1rem, 0.2dvw, 0.2rem);
}

#edu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: clamp(0.75rem, 1.5dvh, 1.5rem);
}

#course-college-year-cgpa {
    display: flex;
    justify-content: flex-start;
    gap: clamp(2.5rem, 5dvh, 5rem);
}

#course-college {
    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 0.5dvh, 0.5rem);
    font-size: clamp(0.6rem, 1.2dvw, 1.2rem);
    letter-spacing: clamp(0.05rem, 0.1dvw, 0.1rem);
}

#cgpa {
    padding: clamp(0.4rem, 0.8dvw, 0.8rem);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graduate-year {
    padding: clamp(0.4rem, 0.8dvw, 0.8rem);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#courses {
    display: flex;
    gap: clamp(0.5rem, 1dvw, 1rem);
    margin-top: clamp(0.5rem, 1dvh, 1rem);
}

#course {
    padding: clamp(0.25rem, 0.5dvw, 0.5rem);
    border: 1px solid black;
    width: max-content;
    font-size: clamp(0.4rem, 0.8dvw, 0.8rem);
}

#achievements {
    margin-top: clamp(0.5rem, 1dvh, 1rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.2rem, 0.4dvh, 0.4rem);
}

.work-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.works-page {
    position: relative;
    flex: 1;
}

.large-page {
    overflow: auto;
}


/* Responsive */

@media (max-width: 1440px) {
    #grid {
        display: grid;
        width: 100%;
        height: auto;
        box-sizing: border-box;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        padding: 1rem;
    }

    .slabo-font {
        font-family: "Slabo 27px", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }

    .ultra-font {
        font-family: "Ultra", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }

    #intro {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        min-height: 25dvh;
        order: 1
    }

    #tech {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        order: 2;
        min-height: 10dvh;
    }

    #widgets {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        order: 5;
        min-height: 25dvh;
    }

    #projects {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        order: 3;
        min-height: 90dvh;
    }

    #edu {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        order: 4;
        min-height: 30dvh;
    }

    #switch {
        grid-column: 1 / -1;
        grid-row: auto;
        display: flex;
        order: 6;
        min-height: 40dvh;
    }

    #inner-container {
        margin: 0;
    }

    .bento-compartment {
        overflow: hidden;
    }
}