#full-page {
    background-color: black;
    height: 100%;
}

#grid {
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 3rem;
    padding: 3rem;
}

.slabo-font {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    color: #f6eee3;
}

.ultra-font {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    color: #eee7d7;
}

#inner-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    align-items:stretch;
    justify-items: stretch;
    padding: 1rem;
    min-width: 0;
    width: 100%;
    justify-content: space-evenly;

    /* border: 1px solid magenta; */
}

.bento-compartment {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#intro {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    display: flex;
}

#widgets {
    grid-column: 5 / span 5;
    grid-row: 1 / span 4;
    display: flex;
}

#projects {
    grid-column: 10 / span 7;
    grid-row: 1 / span 9;
    display: flex;
}

#tech {
    grid-column: 1 / span 9;
    grid-row: 5 / span 1;
    display: flex;
}

#edu {
    grid-column: 1 / span 6;
    grid-row: 6 / span 4;
    display: flex;
}

#switch {
    grid-column: 7 / span 3;
    grid-row: 6 / span 4;
    display: flex;
}

.name {
    font-size: 3rem;
}

.designation {
    font-size: 2rem;
}

#splitter {
    border: 1px solid seashell;
    width: 100%;
}

.button {
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1rem;
    background: rgb(0, 0, 0, 0.2);
    background-size: 400%;
    border: none;
    cursor: pointer;
}

.button-content {
    font-size: 1rem;
    z-index: 1;
}

.button:hover {
    box-shadow: rgb(195,217,0.2) 2px 2px;
    transition: ease 0.2s;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

#inner-container.tech-container {
    padding: 0;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#marquee {
    overflow: hidden;
}

@keyframes marquee {
    0% { transform: translateX(60%); }
    100% { transform: translateX(-100%); }
}

#tech-stack {
    display: inline-flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: nowrap;
    animation: marquee 35s linear infinite;
}

.header {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.pages-random {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0.5 rem;
}

.controls {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    background: rgb(0, 0, 0, 0.2);
}

.controls:hover {
    box-shadow: rgb(195,217,0.2) 2px 2px;
    transition: ease 0.2s;
}

.contents-page {
    height: 100%;
}

.page {
    opacity: 0;
    position: absolute;
}

.page.active {
    opacity: 1;
    z-index: 1;
}

.random-canvas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#coin-flip {
    height: 21rem;
    width: 21rem;
    border-radius: 1rem;
}

/* Widgets */

#widgets-frame {
    border: 1px solid green;
    display: grid;

    height: 100%;
    box-sizing: border-box;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

#time-widget {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    border-radius: 2rem;
    background: rgb(0, 0, 0, 0.2);

    padding: 1rem;
    flex-direction: column;
}

#current-time {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    padding: 0.5rem;
}

#clock {
    display: flex;
}

#time-diff {
    font-size: 1.5rem;
}

#date-current {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-decoration: overline;
}


#thought-widget {
    display: flex;
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;

    border-radius: 2rem;
    background: rgb(0, 0, 0, 0.2);

    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    align-items: center;
    justify-content: center;
}

#location-widget {
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-evenly;

    border-radius: 2rem;
    background: rgb(0, 0, 0, 0.2);
}

.location-city {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    border-radius: 0.3rem;
}

.location-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-coord {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}

.sphere {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
        radial-gradient(circle at 35% 25%, rgba(255,255,255,0.3) 0%, transparent 15%),
        radial-gradient(circle at 40% 30%, #0000 4%, 57%, #000 90%),
        linear-gradient(125deg, #2E7D32 0%, #1976D2 40%, #2E7D32 70%, #1976D2 100%)
}


#weather-widget {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    border-radius: 2rem;
    background: rgb(0, 0, 0, 0.2);
}

#temperature {
    display: flex;
    flex-direction: row;
    border: 1px solid brown;
    width: 40%;
}

#sun-track {
    display: flex;
    flex-direction: column;
    border: 1px solid yellowgreen;
    width: 35%;
}

#uv-index {
    border: 1px solid hotpink;
    width: 15%;
}



#title-widget {
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;

    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

#tbd-widget {
    border: 1px solid greenyellow;
    display: flex;
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;

    border-radius: 2rem;
    background: rgb(0, 0, 0, 0.2);
}
