/* ── desktop ── */
@media (min-width: 768px) {
    .pl-outer-body {
        width: 100%;
        height: 540px;
    }

    .pl-inner-frame {
        height: 80%;
        width: 80%;
        top: 8%;
        left: 10%;
    }

    .pl-caption {
        top: 12%;
        font-size: larger;
    }


}